@model Suraj.DbContexts.UserInfo

@{
    Layout = null;
}

<style>
    #cn {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 50px;
    }

    .clr {
        color: red;
        font-weight: bold;
    }
</style>
<div class="container">
    <div class="row">
        <div id="cn" class="col-sm-4 mx-auto">
            <p style="font-size: 20px; font-weight: bold;">Login</p>

            <form asp-controller="Employee" asp-action="Login" class="form-group " method="post">
                <p class="clr">@TempData["Invalid"]</p>
                <div>
                    <label>Your Name</label>
                    <input asp-for="Name" placeholder="Enter Your Name" class="form-control" />
                    <span asp-validation-for="Name" class="clr"></span>
                </div>
                <div>
                    <label>Your Email</label>
                    <input asp-for="Email" placeholder="Enter Your Email" class="form-control" />
                    <span asp-validation-for="Email" class="clr"></span>
                </div>
                <div>
                    <label>Your Password</label>
                    <input asp-for="Password" placeholder="Enter Your Password" class="form-control" />
                    <span asp-validation-for="Password" class="clr"></span>
                </div>

                <br />
                <input type="submit" class="btn btn-success btn-block" />
                <a asp-controller="Employee" asp-action="NewAccount" class="mx-auto">Create New Account</a>
            </form>
        </div>
    </div>
</div>
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />